html {
  background: white;
}

.demo-app-body {
  height: 100%;
}

.demo-app-setup-panel {
  width:35%;
}

.demo-app-messaging-panel {
  width:65%;
}

.demo-app-message-list {
  height: 440px;
}

.demo-app-inbound-message-input {
  width:calc(100% - 75px);
}

.demo-app-inbound-message-send-btn {
  margin-top: -32px;
}
